<h2 mat-dialog-title style="text-align: center;">Customer Payment </h2>
<mat-dialog-content class="mat-typography">
        <div style="text-align: center;">
            <h3>Payment from</h3>
            <h2>{{fullName}}</h2>
        
        </div>
    <form [formGroup]="form">

        <div class="row">
        <div class="col-sm-4">
                <input type="hidden" formControlName="customerid" name="customerid" id="customerid" ngModel='{{customerid}}'>
        </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <mat-form-field class="full-width-input">
                    <input matInput type="number" placeholder="Enter amount" formControlName="amount" autocomplete="off"
                        required>
                        <span matPrefix>Tzs</span>
                    <mat-error>
                        Amount is required
                    </mat-error>
                    
                </mat-form-field>
            </div>

        </div>
        <br>
        <div class="row">
            <input type="hidden" formControlName="create_by" name="created_by" id="created_by" ngModel='{{fullNameCreate}}'>
        </div>
        <div align="end">
            <button mat-button class="btn btn-primary" (click)="payment()" mat-dialog-close>Save</button>
            &nbsp;&nbsp;
            <button mat-button mat-dialog-close class="btn btn-danger" routerLink="customer">Cancel</button>
        </div>
    </form>
</mat-dialog-content>