<!-- Start header -->
<mat-toolbar id="mainToolbar" color="primary">
  <mat-icon (click)="onToolbarMenuToggle()" id="toolbarMenu">subject</mat-icon>
  Insuarance Management System

  <!-- <mat-list-item *ngIf="isLoggedIn">
    <button class="menu-item" mat-flat-button (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-list-item> -->
  <span class="toolbar-spacer"></span>
  <mat-icon
    class="toolbar-icon"
    matBadgePosition="after"
    matBadgeColor="accent"
    (click)="logout()"
    >logout</mat-icon
  >
</mat-toolbar>
<!-- End header -->

<mat-sidenav-container id="sidenavContainer" fullscreen>
  <mat-sidenav
    mode="side"
    #sidenav
    id="sidenav"
    [class.menu-open]="isMenuOpen"
    [class.menu-close]="!isMenuOpen"
    opened
  >
    <mat-list id="menus">
      <mat-card>
        <mat-card-header style="font-family: 'Courier New', Courier, monospace">
          <mat-card-title>{{ fullName }}</mat-card-title>
          <mat-card-subtitle>{{ role }}</mat-card-subtitle>
          <mat-card-subtitle style="margin-right: 5%">{{
            email
          }}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>

      <mat-list-item>
        <button class="menu-item" mat-flat-button routerLink="/">
          <mat-icon>dashboard</mat-icon>
          Dashboard
        </button>
      </mat-list-item>

      <mat-list-item *ngIf="role == 'Admin'">
        <button class="menu-item" mat-flat-button routerLink="agent">
          <mat-icon>supervised_user_circle</mat-icon>
          Agents
        </button>
      </mat-list-item>

      <mat-list-item>
        <button class="menu-item" mat-flat-button routerLink="vehicle">
          <mat-icon>electric_car</mat-icon>
          Vehicle
        </button>
      </mat-list-item>

      <mat-list-item>
        <button class="menu-item" mat-flat-button routerLink="customer">
          <mat-icon>supervised_user_circle</mat-icon>
          Customer
        </button>
      </mat-list-item>

      <mat-list-item>
        <button class="menu-item" mat-flat-button routerLink="insuarance">
          <mat-icon>style</mat-icon>
          Insuarance
        </button>
      </mat-list-item>
      <mat-list-item *ngIf="role == 'Admin'">
        <button class="menu-item" mat-flat-button routerLink="commission">
          <mat-icon>style</mat-icon>
          Acident
        </button>
      </mat-list-item>
      <mat-list-item *ngIf="role == 'Admin'">
        <button class="menu-item" mat-flat-button routerLink="commission">
          <mat-icon>account_balance</mat-icon>
          Commision
        </button>
      </mat-list-item>
      <!-- <mat-list-item *ngIf="isLoggedIn">
        <button class="menu-item" mat-flat-button (click)="logout()">
          <mat-icon>logout</mat-icon>
          logout
        </button>
      </mat-list-item> -->
      <!-- thisn -->
    </mat-list>

    <!-- ============================================== -->

    <!-- ============================================= -->
  </mat-sidenav>

  <mat-sidenav-content [ngStyle]="{ 'margin-left.px': contentMargin }">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
