<!-- Start header -->
<mat-toolbar id="mainToolbar" color="primary">
  <mat-icon (click)="onToolbarMenuToggle()" id="toolbarMenu">subject</mat-icon>
  Insuarance Management System (Motor Vehicles)
  <!-- Change Password Admin -->
  <span class="toolbar-spacer"></span>
  <div>
    <button
      matBadgePosition="after"
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with a menu"
    >
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="ChangePasswordAdmin()">
        <mat-icon>settings</mat-icon>
        <span>Change password</span>
      </button>

      <button
        *ngIf="role == 'Admin'"
        mat-menu-item
        (click)="CreateAdminLogin()"
      >
        <mat-icon>settings</mat-icon>
        <span>Create Admin Login </span>
      </button>

      <button mat-menu-item (click)="logout()">
        <mat-icon
          class="toolbar-icon"
          matBadgePosition="after"
          matBadgeColor="accent"
          ><span class="material-icons"> power_settings_new </span></mat-icon
        >logout
      </button>
    </mat-menu>
  </div>
  <!-- End header -->

  <mat-sidenav-container id="sidenavContainer" fullscreen>
    <mat-sidenav
      mode="side"
      #sidenav
      id="sidenav"
      [class.menu-open]="isMenuOpen"
      [class.menu-close]="!isMenuOpen"
      opened
    >
      <mat-list id="menus">
        <mat-card>
          <mat-card-header
            style="
              font-family: 'Courier New', Courier, monospace;
              margin-left: -32px;
            "
          >
            <mat-card-title>{{ fullName }}</mat-card-title>
            <mat-card-subtitle>{{ role }}</mat-card-subtitle>
            <mat-card-subtitle>{{ email }}</mat-card-subtitle>
          </mat-card-header>
        </mat-card>

        <mat-list-item>
          <button class="menu-item" mat-flat-button routerLink="/">
            <mat-icon>dashboard</mat-icon>
            Dashboard
          </button>
        </mat-list-item>

        <!-- =======================================end======================== -->
        <mat-accordion *ngIf="role != 'Agent'">
          <mat-expansion-panel
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
          >
            <mat-expansion-panel-header>
              <!-- <mat-panel-title> Self aware panel </mat-panel-title> -->
              <mat-icon>supervised_user_circle</mat-icon>
              <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Users</p>
            </mat-expansion-panel-header>
            <div>
              <button
                class="menu-item"
                mat-flat-button
                routerLink="usersRegstration"
              >
                <mat-icon>post_add</mat-icon>
                User Regstration
              </button>
            </div>
            <div>
              <!-- View All Users -->
              <button
                class="menu-item"
                mat-flat-button
                routerLink="users"
                *ngIf="role == 'Admin'"
              >
                <mat-icon>view_list</mat-icon>
                View
              </button>

              <!-- View Agents Only -->
              <button
                class="menu-item"
                mat-flat-button
                routerLink="user"
                *ngIf="role == 'Staff'"
              >
                <mat-icon>view_list</mat-icon>
                View
              </button>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
        <!-- ======================Vehicle=============================== -->
        <mat-accordion>
          <mat-expansion-panel
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
          >
            <mat-expansion-panel-header>
              <!-- <mat-panel-title> Self aware panel </mat-panel-title> -->
              <mat-icon>electric_car</mat-icon>
              <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Insuarance</p>
            </mat-expansion-panel-header>
            <div>
              <button class="menu-item" mat-flat-button routerLink="insuarance">
                <mat-icon>post_add</mat-icon>
                Regstration
              </button>
            </div>
            <div>
              <button
                class="menu-item"
                mat-flat-button
                routerLink="viewinsuarance"
              >
                <mat-icon>view_list</mat-icon>
                View
              </button>
            </div>
            <div>
              <button
                class="menu-item"
                mat-flat-button
                routerLink="viewcustomerpayment"
              >
                <mat-icon>payment</mat-icon>
                Payment
              </button>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
        <!-- ==============================Accident======================= -->
        <div *ngIf="role != 'Agent'">
          <mat-accordion>
            <mat-expansion-panel
              (opened)="panelOpenState = true"
              (closed)="panelOpenState = false"
            >
              <mat-expansion-panel-header>
                <!-- <mat-panel-title> Self aware panel </mat-panel-title> -->
                <mat-icon>electric_car</mat-icon>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Accident</p>
              </mat-expansion-panel-header>

              <div>
                <button class="menu-item" mat-flat-button routerLink="accident">
                  <mat-icon>post_add</mat-icon>
                  Regstration
                </button>
              </div>
              <div>
                <button
                  class="menu-item"
                  mat-flat-button
                  routerLink="viewacident"
                >
                  <mat-icon>view_list</mat-icon>
                  View
                </button>
              </div>
              <div>
                <button
                  class="menu-item"
                  mat-flat-button
                  routerLink="viewinsuaredpayment"
                >
                  <mat-icon>account_balance_wallet</mat-icon>
                  View Payments
                </button>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
        <!-- ===================================================== -->
      </mat-list>
      <!-- ============================================= -->
    </mat-sidenav>
    <mat-sidenav-content [ngStyle]="{ 'margin-left.px': contentMargin }">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <!--    sales-->
</mat-toolbar>
