<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Acident Verification">
    <h3 style="text-align: center; margin-top: 5%; font-size: 24px">
      <strong>Acident Verification</strong>
    </h3>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="offset-sm-5 col-sm-4">
        <mat-form-field appearance="fill">
          <mat-label>Select Platenumber</mat-label>
          <mat-select
            disableRipple
            name="customerid"
            formControlName="platenumber"
          >
            <!-- <mat-option value="02">02</mat-option> -->
            <mat-option [value]="v.platenumber" *ngFor="let v of vehcle">{{
              v.platenumber
            }}</mat-option>
          </mat-select>
          <mat-error> Platenumber is required </mat-error>
        </mat-form-field>
      </div>
      <div class="offset-sm-5 col-sm-4">
        <mat-form-field>
          <mat-label>Description</mat-label>
          <textarea
            matInput
            formControlName="typeofacident"
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"
          ></textarea>
        </mat-form-field>
        <div class="row">
          <input
            type="hidden"
            formControlName="create_by"
            name="create_by"
            id="create_by"
            ngModel="{{ fullName }}"
          />
        </div>
        <div>
          <button mat-raised-button color="primary" [disabled]="form.invalid">
            Regster
          </button>
        </div>
      </div>
    </form>
  </mat-tab>
  <mat-tab label="View">
    <app-view-acident></app-view-acident>
  </mat-tab>
  <mat-tab label="View Payment">
    <app-view-payment-payed></app-view-payment-payed>
  </mat-tab>
</mat-tab-group>
