<mat-tab-group mat-align-tabs="center" style="margin-left: 10px">
  <mat-tab label="Insuarance">
    <div class="container">
      <h3 style="text-align: center; margin-top: 5%; font-size: 24px">
        <strong>Insuarance Regstraion</strong>
      </h3>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-4">
            <mat-form-field appearance="fill">
              <mat-label>Select Platenumber</mat-label>
              <mat-select
                disableRipple
                name="vehicleid"
                formControlName="vehicleid"
              >
                <!-- <mat-option value="02">02</mat-option> -->
                <mat-option [value]="v.vehicleid" *ngFor="let v of vehcle">{{
                  v.platenumber
                }}</mat-option>
              </mat-select>
              <mat-error> Platenumber is required </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field appearance="fill">
              <mat-label>Choose insuarance type</mat-label>
              <mat-select
                disableRipple
                name="typeOfInsuarance"
                formControlName="typeOfInsuarance"
              >
                <mat-option value="Mondatory">Mondatory</mat-option>
                <mat-option value="Comprehensive">Comprehensive</mat-option>
              </mat-select>
              <mat-error> Gender is required </mat-error>
            </mat-form-field>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-sm-4">
            <mat-form-field class="full-width-input">
              <input
                type="date"
                matInput
                placeholder="Start date of Insuarance"
                formControlName="startdate"
                autocomplete="off"
                required
              />
              <mat-error> Start date of Insuarance is required </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field class="full-width-input">
              <input
                type="date"
                matInput
                placeholder="End date of Insuarance"
                formControlName="enddate"
                autocomplete="off"
                required
              />
              <mat-error>End date is required </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <input
            type="hidden"
            formControlName="create_by"
            name="create_by"
            id="create_by"
            ngModel="{{ fullName }}"
          />
        </div>
        <br />
        <div>
          <!-- <button class="btn btn-primary" [disabled]="form.invalid">
            Regster
          </button> -->
          <button mat-raised-button color="primary" [disabled]="form.invalid">
            Regster
          </button>
        </div>
      </form>
    </div>
  </mat-tab>
</mat-tab-group>
