<div class="container">
  <h3 style="text-align: center">Change Password</h3>
  <form [formGroup]="myform">
    <div class="row">
      <div class="col-md-4">
        <mat-form-field class="full-width-input">
          <input
            matInput
            placeholder="New Password"
            formControlName="password"
            autocomplete="off"
            required
          />
          <mat-error> Password is required </mat-error>
        </mat-form-field>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-6">
        <button
          mat-raised-button
          color="primary"
          [disabled]="myform.invalid"
          (click)="changePassword()"
        >
          Save
        </button>
      </div>
      <!-- &nbsp;&nbsp;&nbsp; -->
      <div class="col-md-6">
        <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
      </div>
    </div>
  </form>
</div>
