<h2 mat-dialog-title>UPDATE</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="form">
    <div class="row">
      <div class="col-sm-4">
        <mat-form-field class="full-width-input">
          <input
            matInput
            placeholder="Plate number"
            formControlName="platenumber"
            autocomplete="off"
            required
          />
          <mat-error> Plate number is required </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <mat-form-field>
          <mat-label>Police Report No</mat-label>
          <textarea
            matInput
            formControlName="policeReportNo"
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"
          ></textarea>
          <mat-error>Police Report No are required </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <mat-form-field>
          <mat-label>Description</mat-label>
          <textarea
            matInput
            formControlName="typeofacident"
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"
          ></textarea>
          <mat-error>Description are required </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <input
        type="hidden"
        formControlName="create_by"
        name="create_by"
        id="create_by"
        ngModel="{{ fullName }}"
      />
    </div>
    <div align="end">
      <!-- <button mat-button class="btn btn-primary" (click)="update()" mat-dialog-close>Update</button> -->
      <button
        mat-raised-button
        color="primary"
        [disabled]="form.invalid"
        (click)="update()"
      >
        Update
      </button>
      &nbsp;&nbsp;
      <!-- <button mat-button mat-dialog-close class="btn btn-danger" routerLink="vehicle">Cancel</button> -->
      <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
    </div>
  </form>
</mat-dialog-content>
