<div class="container">
  <!-- <mat-tab-group mat-align-tabs="center" style="margin-left: 10px">
    <mat-tab label="User Regstraion"> -->

  <mat-divider></mat-divider>
  <h3 style="text-align: center; margin-top: 5%; font-size: 24px">
    <span>User Regstraion</span>
  </h3>
  <div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
      <div class="row">
        <div class="col-sm-4">
          <mat-form-field class="full-width-input">
            <input
              matInput
              placeholder="Full Name"
              formControlName="fullName"
              required
            />
            <mat-error> Full name is required </mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-4">
          <mat-form-field class="full-width-input">
            <input
              matInput
              placeholder="Email"
              name="email"
              formControlName="email"
              required
            />
            <mat-error> Email is required </mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-4">
          <mat-form-field class="full-width-input">
            <input
              matInput
              type="password"
              placeholder="Password"
              formControlName="password"
              required
            />

            <mat-error> Password is required </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <mat-form-field class="full-width-input">
            <input
              matInput
              placeholder="Address"
              formControlName="address"
              required
            />
            <mat-error> Address is required </mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-4">
          <mat-form-field class="full-width-input">
            <input
              matInput
              placeholder="Branch"
              formControlName="branch"
              required
            />
            <mat-error> Branch is required </mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-4">
          <mat-form-field class="full-width-input">
            <input
              matInput
              type="number"
              placeholder="Phone number"
              formControlName="phone"
              required
            />
            <mat-error> Phone number is required </mat-error>
          </mat-form-field>
        </div>
        <!-- <div class="col-sm-4"> -->
        <!-- <mat-form-field class="full-width-input">
              <input
                matInput
                type="password"
                id="retypePassword"
                placeholder="Re-type Password"
                formControlName="retypePassword"
                autocomplete="off"
              />
              <mat-error> Re-type Password is required </mat-error>
            </mat-form-field> -->
        <!-- </div> -->
      </div>
      <div class="row">
        <div class="col-sm-4">
          <mat-form-field class="full-width-input">
            <input
              matInput
              type="date"
              placeholder="Date of birth"
              formControlName="dob"
              required
            />
            <mat-error> Date is required </mat-error>
          </mat-form-field>
        </div>

        <div class="col-sm-4">
          <mat-form-field class="full-width-input">
            <mat-label>Select gender</mat-label>
            <mat-select disableRipple name="gender" formControlName="gender">
              <mat-option value="Male">Male</mat-option>
              <mat-option value="Female">Female</mat-option>
            </mat-select>
            <mat-error> Gender is required </mat-error>
          </mat-form-field>
        </div>

        <div class="col-sm-4">
          <mat-form-field class="full-width-input">
            <mat-label>Role</mat-label>
            <mat-select disableRipple name="role" formControlName="role">
              <mat-option value="Admin" *ngIf="role == 'Admin'"
                >Admin</mat-option
              >
              <mat-option value="Staff" *ngIf="role == 'Admin'"
                >Staff</mat-option
              >
              <mat-option value="Agent">Agent</mat-option>
            </mat-select>
            <mat-error> Role is required </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <input
          type="hidden"
          formControlName="create_by"
          name="create_by"
          id="create_by"
          ngModel="{{ fullName }}"
        />
      </div>
      <br />
      <div>
        <button mat-raised-button color="primary" [disabled]="form.invalid">
          Save
        </button>
      </div>
    </form>
  </div>
  <!-- </mat-tab>
  </mat-tab-group> -->
</div>
