<mat-card fxFlex="25">
  <div style="float: center" class="responsive">
    <img src="../../../assets/image/ZIC.jpg" width="160px" height="160px" />
  </div>
  <!-- <mat-card-header style="align: center">
    <img src="../../../../assets/image/ZIC.jpg" width="150px" />
 <mat-card-title><h2>Log In</h2></mat-card-title>
  </mat-card-header> -->
  <!-- <mat-toolbar color="primary"> Login </mat-toolbar> -->
  <mat-card-content>
    <form
      fxLayoutAlign="stretch"
      fxLayout="column"
      class="login-form"
      [formGroup]="loginForm"
    >
      <mat-form-field class="full-width-input">
        <input
          matInput
          placeholder="Email"
          formControlName="email"
          autocomplete="off"
          required
        />
        <!-- <span matPrefix> <mat-icon>mail_outline &nbsp;</mat-icon></span> -->
        <mat-error> Please enter email address </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width-input">
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          placeholder="Password"
          formControlName="password"
          autocomplete="off"
          required
        />
        <!-- <span matPrefix> <mat-icon>https &nbsp;</mat-icon></span> -->
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-error> Please enter password </mat-error> </mat-form-field
      ><br />
      <button
        mat-raised-button
        color="primary"
        [disabled]="loginForm.invalid"
        (click)="onSubmit()"
      >
        Login
      </button>
    </form>
  </mat-card-content>
</mat-card>
