<h2 mat-dialog-title>UPDATE </h2>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="form">
      <div class="row">
        <div class="col-sm-4">
            <mat-form-field class="full-width-input">
              <input matInput placeholder="Full Name" formControlName="fname" autocomplete="off"  required>
              <mat-error>
                  Full name is required
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-sm-4">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Email" formControlName="email" autocomplete="off"  required>
            <mat-error>
                Email is required
              </mat-error>
          </mat-form-field>
      </div>
      <div class="col-sm-4">
        <mat-form-field class="full-width-input">
          <input matInput placeholder="Password" formControlName="password" autocomplete="off"  required>
          <mat-error>
              Password is required
            </mat-error>
        </mat-form-field>
    </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Address" formControlName="address" autocomplete="off"  required>
            <mat-error>
                 Addressis required
              </mat-error>
          </mat-form-field>
      </div>
      <div class="col-sm-4">
        <mat-form-field class="full-width-input">
          <input matInput placeholder="Branch" formControlName="branch" autocomplete="off"  required>
          <mat-error>
              Branch name is required
            </mat-error>
        </mat-form-field>
    </div>
    <div class="col-sm-4">
      <mat-form-field class="full-width-input">
        <input matInput type="date" formControlName="dob" autocomplete="off"  required>
        <mat-error>
            Date is required
          </mat-error>
      </mat-form-field>
  </div>
  </div>
        <div class="row">
            <div class="col-sm-4">
                <mat-form-field class="full-width-input">
                  <input type="number" matInput placeholder="Phone number" formControlName="phone" autocomplete="off"  required>
                  <mat-error>
                      Phone number is required
                    </mat-error>
                </mat-form-field>
            </div>
            <!-- <div class="col-sm-4">
              <mat-form-field class="full-width-input">
                <input matInput placeholder="Full Name" formControlName="fname" autocomplete="off"  required>
                <mat-error>
                    Full name is required
                  </mat-error>
              </mat-form-field>
          </div> -->
          <div class="col-sm-4">
            <mat-form-field class="full-width-input">
              <input matInput placeholder="Gender" formControlName="gender" autocomplete="off"  required>
              <mat-error>
                  Gender is required
                </mat-error>
            </mat-form-field>
        </div>
        </div>
    </form>      
</mat-dialog-content>
<mat-dialog-actions align="end">
  <!-- [mat-dialog-close]="true" -->
  <button mat-button  (click)="update()" class="btn btn-primary">Update</button>
  <button mat-button mat-dialog-close class="btn btn-danger">Cancel</button>
</mat-dialog-actions>
