<h2 mat-dialog-title>UPDATE</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="form">
    <div class="row">
      <div class="col-sm-4">
        <mat-form-field class="full-width-input">
          <input
            matInput
            placeholder="Full Name"
            formControlName="fullName"
            name="fullName"
            autocomplete="off"
            [(ngModel)]="agent.fullName"
            required
          />
          <mat-error> Full name is required </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-4">
        <mat-form-field class="full-width-input">
          <input
            matInput
            placeholder="Email"
            formControlName="email"
            autocomplete="off"
            ng-model="agent.email"
            required
          />
          <mat-error> Email is required </mat-error>
        </mat-form-field>
      </div>
      <!-- <div class="col-sm-4">
        <mat-form-field class="full-width-input">
          <input
            matInput
            placeholder="Password"
            formControlName="password"
            autocomplete="off"
            required
          />
          <mat-error> Password is required </mat-error>
        </mat-form-field>
      </div> -->
      <div class="col-sm-4">
        <mat-form-field class="full-width-input">
          <input
            matInput
            placeholder="Address"
            formControlName="address"
            autocomplete="off"
            required
          />
          <mat-error> Addressis required </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <mat-form-field class="full-width-input">
          <input
            matInput
            placeholder="Branch"
            formControlName="branch"
            autocomplete="off"
            required
          />
          <mat-error> Branch name is required </mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm-4">
        <mat-form-field class="full-width-input">
          <input
            matInput
            type="date"
            formControlName="dob"
            autocomplete="off"
            required
          />
          <mat-error> Date is required </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-4">
        <mat-form-field class="full-width-input">
          <input
            matInput
            placeholder="Gender"
            formControlName="gender"
            autocomplete="off"
            required
          />
          <mat-error> Gender is required </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <mat-form-field class="full-width-input">
          <input
            type="number"
            matInput
            placeholder="Phone number"
            formControlName="phone"
            autocomplete="off"
            required
          />
          <mat-error> Phone number is required </mat-error>
        </mat-form-field>
      </div>

      <div class="col-sm-4">
        <mat-form-field class="full-width-input">
          <input
            matInput
            placeholder="Role"
            formControlName="role"
            autocomplete="off"
            required
            readonly
          />
          <mat-error> Role is required </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <input
        type="hidden"
        formControlName="created_by"
        name="created_by"
        id="created_by"
        ngModel="{{ fullName }}"
      />
      <input
        type="hidden"
        formControlName="role"
        name="role"
        id="role"
        ngModel="{{ role }}"
      />
    </div>
    <div align="end">
      <!-- <button mat-button  class="btn btn-primary" (click)="update()">Update</button> -->
      <button
        mat-raised-button
        color="primary"
        [disabled]="form.invalid"
        (click)="update()"
      >
        Update
      </button>
      &nbsp;&nbsp;
      <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
    </div>
  </form>
</mat-dialog-content>
