<div class="row">
  <div class="col-md-8">
    <app-report-table></app-report-table>
  </div>
  <div class="col-md-4">
    <mat-card style="background-color: cyan">
      <mat-card-header>
        <mat-card-title>Income</mat-card-title>
      </mat-card-header>
      <mat-card-content>Tzs </mat-card-content>
    </mat-card>
    <mat-card style="background-color: blue">
      <mat-card-header>
        <mat-card-title></mat-card-title>
      </mat-card-header>
      <mat-card-content> Customer </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Shiba Inu</mat-card-title>
      </mat-card-header>
      <mat-card-content> Customer </mat-card-content>
    </mat-card>
    <mat-card style="background-color: rgb(194, 10, 10)">
      <mat-card-header>
        <mat-card-title>Expenses</mat-card-title>
      </mat-card-header>
      <mat-card-content> Tzs </mat-card-content>
    </mat-card>
  </div>
</div>
