<div class="row">
  <div class="col-md-8">
    <app-report-table></app-report-table>
  </div>
  <div class="col-md-4">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Shiba Inu</mat-card-title>
      </mat-card-header>
      <mat-card-content> Customer </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Shiba Inu</mat-card-title>
      </mat-card-header>
      <mat-card-content> Customer </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Shiba Inu</mat-card-title>
      </mat-card-header>
      <mat-card-content> Customer </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Shiba Inu</mat-card-title>
      </mat-card-header>
      <mat-card-content> Customer </mat-card-content>
    </mat-card>
  </div>
</div>
