<mat-tab-group mat-align-tabs="center" style="margin-left: 10px">
  <mat-tab label="View Payments">
    <div role="status" class="isLoading" *ngIf="loading">
      <mat-spinner style="top: 50%; left: 50%"></mat-spinner>
    </div>
    <div>
      <mat-form-field class="full-width-input">
        <input
          matInput
          type="text"
          placeholder="Search by Platenumber"
          autocomplete="off"
          (keyup)="updateFilter($event)"
        />
        <!-- <input
          matInput
          type="text"
          placeholder="Search by Full name"
          autocomplete="off"
          (keyup)="updateFilter($event)"
        /> -->
      </mat-form-field>
      <ngx-datatable
        [columnMode]="'force'"
        #table
        class="material"
        [columns]="columns"
        [columnMode]="ColumnMode.force"
        [headerHeight]="50"
        [footerHeight]="50"
        rowHeight="auto"
        [limit]="10"
        [rows]="filteredRows"
      >
        <ngx-datatable-column name="No" [flexGrow]="1" [maxWidth]="3">
          <ng-template
            let-row="row"
            let-rowIndex="rowIndex"
            ngx-datatable-cell-template
            flexGrow="3"
            maxWidth="3"
          >
            {{ rowIndex + 1 }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="FullName" prop="insuarance.fullName">
        </ngx-datatable-column>
        <ngx-datatable-column name="Address" prop="insuarance.address">
        </ngx-datatable-column>
        <ngx-datatable-column name="Phone number" prop="insuarance.phone">
        </ngx-datatable-column>
        <ngx-datatable-column name="Platenumber" prop="insuarance.platenumber">
        </ngx-datatable-column>
        <ngx-datatable-column name="'Amount"> </ngx-datatable-column>
        <ngx-datatable-column name="Created by" prop="create_by">
        </ngx-datatable-column>
        <ngx-datatable-column name="Created Time" prop="create_at">
        </ngx-datatable-column>
        <ngx-datatable-column name="Action">
          <ng-template
            let-row="row"
            let-value="value"
            ngx-datatable-cell-template
          >
            <div class="row">
              <a
                class="btn"
                mat-icon-button
                color="primary"
                (click)="Print(row)"
                matTooltip="Print"
                type="button"
              >
                <mat-icon>print</mat-icon>
              </a>
              <div *ngIf="role == 'Admin'">
                <a
                  class="btn"
                  mat-icon-button
                  color="warn"
                  (click)="delete(row.insuaranceid)"
                  type="button"
                  matTooltip="Delete"
                >
                  <mat-icon>delete</mat-icon>
                </a>
              </div>
            </div>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </mat-tab>
</mat-tab-group>
